@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Open Sans", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.container2 {
  width: 1000px;
  height: 1170px;
  background: url(./images/background1.png);
  background-repeat: no-repeat;
}
.text-bg-father {
  background: url(./images/TextBackground.png);
  background-repeat: no-repeat;
  transform: scale(80%);
  background-size: cover;
  width: 380px;
  height: 520px;
  padding-top: 30px;
  padding-left: 25px;
}
.container-print {
  margin: 0 15px;
  position: absolute;
}
.texts {
  transform: rotate(-0.5deg);
}
.border-css1,
.border-css2,
.border-css3,
.border-css4,
.border-css-full {
  border: 0.5px dotted rgb(114, 113, 113);
  outline: 0.5px dotted rgb(114, 113, 113);
  display: flex;
  align-items: center;
  padding-left: 4px;
}
.border-css1 {
  width: 114px;
}
.border-css2 {
  width: 220px;
}
.border-css3 {
  width: 51.5px;
}
.border-css4 {
  width: 163px;
}
.border-css3 span,
.border-css4 span {
  font-weight: bolder !important;
}
.border-css-full {
  width: 340px;
}
.rotate-container {
  margin-top: 20px;
}
p {
  font-weight: 500;
  font-size: 9px;
  text-transform: uppercase;
  line-height: 12.2px;
}
.text-unset {
  text-transform: unset;
}
.border-css-full .text-unset {
  letter-spacing: 0.3px;
}
.p-left {
  font-size: 10px;
}
span {
  font-weight: 700;
  font-size: 7.5px;
  letter-spacing: -0.2px;
}
.top-data span {
  display: flex;
  align-items: center;
  gap: 3px;
}
.bold {
  font-size: 9.1px;
}
.mexmonxona {
  text-transform: uppercase;
}
.gap-2 {
  gap: 6px !important;
}
select,
input {
  font-size: 16px !important;
  width: 280px !important;
  height: 50px !important;
}
label span {
  font-size: 12px !important;
}
