@tailwind base;
@tailwind components;
@tailwind utilities;
table.dataTable span.highlight {
  background-color: #fae5d4;
}
.tabs-header > li.active {
  font-weight: 600 !important;
}
.btn-group-action .btn-action {
  cursor: default;
}
#box-header-module {
  box-shadow: 10px 10px 10px #dddddd;
}
.sub-module-tab li {
  background: #f9f9f9;
  cursor: pointer;
}
.sub-module-tab li.active {
  background: #ffffff;
  box-shadow: 0px -5px 10px #cccccc;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: none;
}
.nav-tabs > li > a {
  border: none;
}
.breadcrumb {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.form-group > label:first-child {
  display: block;
}
.control-label {
  font-family: "Roboto Condensed";
  font-weight: 500;
}
.mylable {
  color: #000;
  font-weight: 500;
  font-family: "Roboto Condensed";
}

table.dataTable.dt-checkboxes-select tbody tr,
table.dataTable thead th.dt-checkboxes-select-all,
table.dataTable tbody td.dt-checkboxes-cell {
  cursor: pointer;
}

table.dataTable thead th.dt-checkboxes-select-all,
table.dataTable tbody td.dt-checkboxes-cell {
  text-align: center;
}

div.dataTables_wrapper span.select-info,
div.dataTables_wrapper span.select-item {
  margin-left: 0.5em;
}

@media screen and (max-width: 640px) {
  div.dataTables_wrapper span.select-info,
  div.dataTables_wrapper span.select-item {
    margin-left: 0;
    display: block;
  }
}
#table-detail tr td:first-child {
  font-weight: bold;
  width: 25%;
}
li.tab.active a {
  font-weight: 500;
  color: #0f74a8 !important;
  text-transform: uppercase !important;
}
.collapse {
  display: none;
}
.QR-CODE {
  width: 40px;
  height: 40px;
}
.uppercase {
  text-transform: uppercase !important;
}
.chiziqchaBor {
  letter-spacing: -0.5px !important;
}
.flagTD {
letter-spacing: 2px !important;
}